

.body  {
    font-family: 'Inter', sans-serif;
}

.title{
	font-size: 10px;
}
#Nom{
	text-align: center;
	font-size: 2rem  ;
	font-weight: lighter;
	font-family: "Times New Romain", serif;
}


#gallery::-webkit-scrollbar {
    display: none;
}
.visage_rond{
	width: 100%;
    height: auto;
}
.details{
	font-size: 5px;
}
.visage {
    border-radius: 5px; /* Vous pouvez ajuster cette valeur selon vos préférences */
}


.read-more-container {
	display: flex;
	align-items: center;
  }
  
.line {
	flex-grow: 1;
	border: none;
	margin: 1%;
	border-top: 1px solid black; /* Changez la couleur de la ligne ici */
  }

#aboutShowMoreTrigger .readMore {
    display: inline; /* Affiche "Lire plus" par défaut */
}

#aboutShowMoreTrigger .readLess {
    display: none; /* Cache "Lire moins" par défaut */
}

#header_about {
    position: relative;
    max-height: 100px;
    overflow: hidden;
}


.series_pair{
    height :400px;
    position: relative;
}


.series-img {
    display: inline-block;
    width: auto;
    height: 300px;
    margin-right: 10px;
}
.series_impair{
    position: relative;
    height :400px;
    background-color: #eee;
}
.scroll-horizon {
    scrollbar-width: none; 
    overflow-x: scroll;
    white-space: nowrap;
}

.scroll-horizon::-webkit-scrollbar {
    display: none; 
}

.right-arrow {
    right: 10px;
    position: absolute;
    font-size: 2em;
    color: #000;
    background: rgba(255, 255, 255, 0.35);
    padding: 10px;
    cursor: pointer;
}
.scroll-container{
    display: flex;
    align-items: center;
}

.left-arrow {
    left: 10px;
    position: absolute;
    font-size: 2em;
    color: #000;
    background: rgba(255, 255, 255, 0.35);
    padding: 10px;
    cursor: pointer;
}

#MesButtons{
    display: flex;
    margin-bottom: 0.5rem;

}

#option{
    display: flex;
    align-items: center;
	margin-right: 2em;
	margin-left: 2em;
}
#option div {
    margin-left: auto;
}
.overlay-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px; /* Hauteur du gradient */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    z-index: 2;
}
.info_serie{
    margin-left: 2%;
    margin-right: 2%;
}
#gallery{
	height : auto; 
	border: 1px sodid #000;
}
/* --------------- MASONRY --------------------*/
.grid-masonry {
    column-count: 1;
	margin-right: 2%;
	margin-left: 2%;
    column-gap: 20px;
    padding: 10px;
}

.grid-item {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}

.grid-item:hover {
    transform: scale(1.08);
    transition: transform .2s;
}

.grid-item img {
    width: 100%;
    height: auto;
}

.grid-item p {
    padding: 2px;
    margin: 0;
    text-align: left;
    font-size: 10px;
}

@media(min-width: 600px) {
    .grid-masonry {
        column-count: 2;
    }
    
}





@media(min-width: 900px) {
    .grid-masonry {
        column-count: 3;
    }
}

@media(min-width: 1200px) {
    .grid-masonry {
        column-count: 4;
    }
}

.grid-item .title {
    font-size: 14px;
    font-weight: lighter;
}

.grid-item .details {
    font-size: 12px;
    color: #555;
}

.grid-item .sold {
    font-size: 16px;
    color: red;
    font-weight: bold;
}

.grid-item .disp {
    font-size: 16px;
    font-weight: lighter;
}
.brief-bio{
	text-align: center;
    margin-top: 0px;
}

.bio {
    text-align: center;

}

.location {
    text-align: center;
}


.hidden {
    display: none;
}

/* --------------- SERIES --------------------*/

#seriesButton{
    margin-right: 1em;
    margin-left: 2em;
    font-size: 12px;
    padding: 0.5em 1em;
    border: 0.5px solid black;
    border-radius: 2px;
    background-color: #fff;
    color: #000;
    cursor: pointer;

}

#gridButton{
    margin-right: 1em;
    margin-left: 1em;
    font-size: 12px;
    padding: 0.5em 1em;
    border: 0.5px solid black;
    border-radius: 2px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}
#gridButton.active, #seriesButton.active {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.series-img-paysage {
    display: inline-block;
    width: auto;
    height: 300px;
    margin-right: 10px;
}


/* --------------- NAV --------------------*/


.nav-tabs .nav-link.active {
	border: none;
	border-bottom: 3px solid black;
}

.a{
	color:#000;
}
.a:hover{
	color:#000;
}
.nav-link{
	color: #000;
	font-size: 120%;
}
.nav-link:hover{
	color: #000;
}

#Presentation{ 
	margin-right: 20px;
	margin-left: 20px; /* Firefox */
	min-height: 500px;
	margin-bottom: 50px;
}

.photo_presentation {
    max-width: 100%;
    height: auto;
	display: block;
	margin:auto;
}

.monh3{
	font-family: 'Times New Roman', Times, serif;
    font-size: 38px;
}

footer {
	background-color: #0F0F00;
	color: #fff; /* pour faire ressortir le texte sur le fond noir */
	height: 200px; /* changez cette valeur en fonction de la taille souhaitée */
	display: flex;
	align-items: center;
	justify-content: center;
  }



@media screen and (max-width: 500px) {

        #Nom{
            font-size: 22px;
        }

        #option{
            font-size: 8px;
            padding:2px;
            
        }
        #gridButton{
            font-size: 10px;
        }
        
        #seriesButton{
            font-size: 10px;
        }

        .nav-link{
            color: #000;
            font-size: 1rem;
            font-weight: 530;

        }
        .monh3{
            font-size: 25px;
        }
        .body p{
            font-size: 1px;
        }
        
        #Presentation{ 
            font-size: 13px;
    	    margin-right: 10px;
	        margin-left: 10px; 
        }
        .monh4{
            font-size: 20px;
        }
        .series-img {
            display: inline-block;
            width: auto;
            height: 200px;
            margin-right: 10px;
        }
        .series_pair{
            height :320px;
            position: relative;
        }
        
        
        
        .series_impair{
            position: relative;
            height :310px;
            background-color: #eee;
        }
        .left-arrow{
            font-size: 15px;
        }
        
        .right-arrow{
            font-size: 15px;
        }
    
        #header_about {
            position: relative;
            min-height: 80px;
            max-height: 100px;
            overflow: hidden;
            font-size: 13px;
        }
        .bio{
            margin-top: 5px;
        }

        .location{
            margin-bottom: 2px;
            margin-top: 10px;

        }
        .brief-bio{
            margin-bottom: 2px;

        }
    }
